body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

#room-list,
#create-room,
#username-section {
  margin-bottom: 30px;
}

#room-list ul {
  list-style-type: none;
  padding: 0;
}

#room-list li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#room-list li button {
  margin-left: 10px;
}

#messages {
  height: 300px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: auto;
  background-color: #fafafa;
}

#message-input {
  width: calc(100% - 80px);
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#current-username-display {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.lock-icon {
  margin-left: 10px;
  font-size: 18px; /* Unicode-lukon koko */
  color: #ff0000; /* Punainen väri lukolle */
}
